﻿body {
    background-color:azure;
}


input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#spoiler {
    display: none;
}

table {
    font-family: Arial,sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #0066CC;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid;
    padding: 5px;
}


.button {
    background-color: #3B95C9;
    border: thin;
    color: white;
    border: 2px solid #33B3FF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 4px #999;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: aliceblue;
    color: #163A50 ;
}

.button:active {
     transform: translateY(4px);
     box-shadow: 0 2px #666;     
}

.submitbutton{
    font-size:12px;
}